<h1>You have tweeted your top listeners!</h1>

<p>And here's the proof:</p>

<p><%= image_tag "http://twictur.es/#{@tweet['id']}.gif" %></p>

<p><%= link_to "Back to My Profile", user_path(current_user) %></p>