<h2>Who's Really Listening?</h2>

<p>Tired of those fickle followers, those tempestuous tweeters? Want to know who actually cares, even a little bit, when you post about that delicious sandwich you're eating? Look no further! <strong>Twisteners</strong> shows you who on Twitter is talking about you. Yes, you!</p>

<p>To get started, simply <%= link_to 'log in', login_path %> using your Twitter credentials. We'll figure out how many times people have talked about you and show you your top twisteners.</p>

<% if @users.any? %>
  <h2>Recently Joined</h2>
  <% for user in @users %>
    <%= link_to profile_image(user), user_path(user) %>
  <% end %>
<% end %>
